{% include'customer_header.html' %}

   
 <!-- ======= Hero Section ======= -->
  <section id="hero" style="max-height: 500px;min-height: 500px">
    <div class="hero-container">
     <!--  <h3></h3> -->
      
     
    </div>
  </section><!-- End Hero -->


		<center>
			<h2>Bookings</h2>
			<table class="table" style="width: 700px;">
				<tr>
					<th>Sl.no</th>
					<th>Time</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Booking Date</th>
					<th>Status</th>
				</tr>
				{% for row in data['book'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['time']}}</td>
					<td>{{row['tdate']}}</td>
					<td>{{row['amount']}}</td>
					<td>{{row['date']}}</td>
					{% if row['status']=="Accepted" %}
					<td><a class="btn btn-info" href="customer_make_payment?id={{row['booking_id']}}&amt={{row['amount']}}">Make Payment</a></td>
					{% else %}
					<td>{{row['status']}}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>

		</center>
	</form>
		
{% include'footer.html' %}